name: build-pyorbit
on: push
jobs:
 centos-8:
    runs-on: ubuntu-latest
    container:
      image: centos:stream8
    steps:
         - uses: actions/checkout@v2
         - name: Install packages
           run: |
             yum install -y gcc gcc-c++ make python2 python2-devel mpich mpich-devel zlib-devel fftw-devel

         - name: Make
           run: |
             .github/workflows/build.sh
         - name: Test
           run: |
             .github/workflows/run-tests.sh

 ubuntu-2004:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:20.04
    steps:
         - uses: actions/checkout@v2
         - name: Install packages
           run: |
             pwd
             apt update
             DEBIAN_FRONTEND=noninteractive apt-get install -y tzdata
             apt install -y build-essential python-dev libmpich-dev mpich  zlib1g-dev libfftw3-dev

         - name: Make
           run: |
             .github/workflows/build.sh

         - name: Test
           run: |
             .github/workflows/run-tests.sh
